<a>Why share?

Why NOT! That's what I always say. 

When you share or write down an experience of an act of kindness, you show gratitude.

Gratitude is basically the quality of being thankful; readiness to show appreciation and to return kindness.

Psychologists Robert Emmons and Michael McCullough (2003) discovered people that wrote down experiences expressing gratitude ended up happier, much more optimistic about the future, and physically healthier—and they even exercised more.

Showing appreciation has been found in the study Emotion (2014)

References:
Emmons, R. A., & McCullough, M. E. (2003). Counting blessings versus burdens: An experimental investigation of gratitude and subjective well-being in daily life. Journal of Personality and Social Psychology, 84, 377–389. 
</a>